## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [21]:
data = {'國家': np.random.randint(0, 10, 20),
        '人口': np.random.randint(0, 2000, 20)}
data = pd.DataFrame(data)

In [22]:
data

    國家    人口
0    4  1798
1    8  1811
2    5   839
3    4    52
4    9   272
5    2  1240
6    5   948
7    8   413
8    8  1704
9    2  1691
10   5  1633
11   9   106
12   3   941
13   4   105
14   1   456
15   9   646
16   4  1186
17   0   940
18   8   772
19   2   601

In [35]:
data.groupby(by='國家')['人口'].sum().idxmax()

8